.services{
    background-color: #ececec;
    margin-top: 0.5em;
    padding-top: 0;
    padding-bottom: 10em;
    display: flex;
    flex-direction: column;
}

.services h2
{
    font-family: 'Boogaloo';
    color: #00C2B5;
    text-align: center;
    font-size: 3em;
    padding-top: 3em;
    letter-spacing: 5px;
}
